<%- include('../header') %>
<style>
  .card {
      max-width: 700px !important;
      margin-left: 20% !important;
    }

    .card-body {
      margin-top: 11% !important;
    }

    .table {
      margin-left: 300px !important;
      max-width: 800px !important;
    }
</style>

<div class="row">
<div class="col-12">

  <table class="table text-center" style="margin-top: 75px;">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
        <th scope="col">Current Status</th>
      </tr>
    </thead>
    <tbody>
      <% single.map((cat,i)=> { %>

        <tr>
            <td>
                <%= ++i %>
            </td>
            <td>
                <%= cat.name %>
            </td>
            <td>
                <a href="/admin/category/deleteCategory?id=<%=cat.id%>"
                    class="btn btn-danger py-2"
                    style="font-size: 16px !important;">
                    <i class="fa-solid fa-trash-can">Delete</i>
                </a>
                <a href="/admin/category/editCategory?id=<%=cat.id%>"
                    class="btn btn-primary py-1 ms-2 "
                    style="font-size: 20px !important;">
                    Edit
                </a>
            </td>
            <td>
                <a href="/admin/category/changeStatus?id=<%= cat.id %>&status=<%= cat.status %>" 
                    class="<% if(cat.status == `active`) { %> btn btn-info py-2 px-3 <% } else { %> btn btn-warning py-2 px-3 <% } %>">
                    <%= cat.status %>
                </a>
            </td>
        </tr>

        <% }) %>
    </tbody>
  </table>
</div>
</div>

  <%- include('../footer') %>