<%- include('../header') %>

  <div class="body-wrapper-inner">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Add Product</h5>
          <div class="card">
            <div class="card-body">
              <form method="post" action="/product/addproductdetail" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Category Field</label>
                  <select name="category" id="category" class="form-select">
                    <option value="">-----select-category-option------</option>
                    <% category.map ((cat)=>{ %>
                      <option class="text-dark" value="<%= cat._id %>">
                        <%= cat.name %>
                      </option>
                      <% }) %>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">SubCategory Field</label>
                  <select name="subcategory" onchange="subcatrecord()" id="subcategory" class="form-select">
                    <option value="">-----select-subcategory-option------</option>
                    <!-- <% subcategory.map ((subcat)=>{ %>
                      <option class="text-dark" value="<%= subcat._id %>">
                        <%= subcat.subcategory %>
                      </option>
                      <% }) %> -->
                  </select>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">ExSubCategory Field</label>
                  <select  class="form-select">
                  
                   
                  </select>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEma"  class="form-label">Product
                    Name</label>
                  <input type="text" name="name" class="form-control text-capitalize" id="exampleInputEmail1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEma onchange="  class="form-label">Product
                    Price</label>
                  <input type="number" name="price" class="form-control text-capitalize" id="exampleInputEmail1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEma onchange="  class="form-label">Product
                    Description</label>
                  <input type="text" name="description" class="form-control text-capitalize" id="exampleInputEmail1">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEma onchange="  class="form-label">Product
                    Image</label>
                  <input type="file" name="image" class="form-control text-capitalize" id="exampleInputEmail1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script type="text/javascript">
    const exSubCategoryRecord = () => {
      let category = document.getElementById('category').value;
      $.ajax({
        type: 'GET',
        url: `/exsubcategory/ajaxcatfetch?id=${category}`,
        success: function (res) {
          let category = res.category;

          let tbl = "";
          tbl += `<option value="">-----select-subcategory-option------</option>`
          category.map((subcat) => {
            tbl += `
                      <option value=${subcat._id}>${subcat.subcategory}</option>
                  `
          })
          document.getElementById("subcategory").innerHTML = tbl;
        }
      })
    }

    const subcatrecord = () => {
      let exsubcategory = document.getElementById('subcategory').value
      $.ajax({
        type: "GET",
        url: `/product/ajaxsubcatfetch?id=${exsubcategory}`,
        success: function (res) {
          const exsubcategory = res.exsubcategory

          let tbl = ""
          tbl += `<option value="">-----select-exsubcategory-option--</option>`
          exsubcategory.map((exsubcat) => {
            tbl += `
              <option value=${exsubcat._id} > ${exsubcat.exsubcategory}</option>

             `
          })
          document.getElementById("exsubcategory").innerHTML = tbl

        }

      })
    }
  </script>

  <%- include('../footer') %>