<%- include('../header') %>

  <div class="row">
    <div class="col-12">

      <!-- <table class="table text-center" style="margin-top: 75px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">SubCategory</th>
            <th scope="col">ExSubCategory</th>
            <th scope="col">product</th>
            <th scope="col">price</th>
            <th scope="col">description</th>
            <th scope="col">image</th>
            <th scope="col">actions</th>
          </tr>
        </thead>
        <tbody>
          <% product.map((product,i)=> { %>

            <tr>
              <td>
                <%= ++i %>
              </td>
              <td class="text-capitalize">
                <%= product.categoryid.name%>
              </td>
              <td class="text-capitalize">
                <%= product.subcategoryid.subcategory%>
              </td>
              <td class="text-capitalize">
                <%= product.exsubcategoryid.exsubcategory %>
              </td>
              <td class="text-capitalize">
                <%= product.name%>
              </td>
              <td>
                <%= product.price%>
              </td>
              <td class="text-capitalize">
                <%= product.description%>
              </td>
              <td>
                <div class="div">
                  <img src="../<%= product.image%>" alt="" style="width: 100px;">
                </div>
              </td>
              <td>
                <a href="/product/deleteproduct?id=<%=product.id%>" class="btn btn-danger py-2"
                  style="font-size: 16px !important;">
                  <i class="fa-solid fa-trash-can"></i>
                </a>
                <a href="/product/editeproduct?id=<%=product.id%>" class="btn btn-primary py-1"
                  style="font-size: 20px !important;">
                  <i class="fa-solid fa-pen"></i>
                </a>
              </td>

            </tr>

            <% }) %>
        </tbody>
      </table> -->
      <div class="container mt-5">
        <div class="row">
          <% product.map((product, i)=> { %>
            <div class="col-md-4 mb-4">
              <div class="card h-100">
                <img src="../<%= product.image %>" class="card-img-top" alt="<%= product.name %>"
                  style="height: 200px; object-fit: cover;">
                <div class="card-body">
                  <h5 class="card-title text-capitalize">
                    <%= product.name %>
                  </h5>
                  <p class="card-text">
                    <strong>Category:</strong>
                    <%= product.categoryid.name %><br>
                      <strong>SubCategory:</strong>
                      <%= product.subcategoryid.subcategory %><br>
                        <strong>ExSubCategory:</strong>
                        <%= product.exsubcategoryid.exsubcategory %><br>
                          <strong>Price:</strong> $<%= product.price %><br>
                            <strong>Description:</strong>
                            <%= product.description %>
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <a href="/product/deleteproduct?id=<%= product.id %>" class="btn btn-danger">
                    <i class="fa-solid fa-trash-can"></i> Delete
                  </a>
                  <a href="/product/editeproduct?id=<%= product.id %>" class="btn btn-primary">
                    <i class="fa-solid fa-pen"></i> Edit
                  </a>
                </div>
              </div>
            </div>
            <% }) %>
        </div>
      </div>

    </div>
  </div>

  <%- include('../footer') %>