<%- include('header') %>

<div class="card m-5" style="width: 60rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title"><%= locals.users.name %></h5>
      <p class="card-text"><%= locals.users.email %></p>
      <p class="card-text"><%= locals.users.password %></p>
      <a href="editProfilePage" class="btn btn-primary">Edit Profile</a>
    </div>
  </div>

<%- include('footer') %>